Repository rbuzzibarrios/calculator, pull requests merged in 2020-11, with the labels that each got.

#7 Config Add quality check in GitHub actions
  .editorconfig
  .gitattributes
  .github/workflows/php.yml
  .gitignore
  .php_cs.dist
  application/Models/Calculator.php
  application/Models/FizzBuzz.php
  composer.json
Labels: QA passed

#14 Adicionando clase CalculatorTest con primer test a funcion sum
  composer.json
  phpunit.xml
  tests/CalculatorTest.php
Labels: Test

#16 Add tests job in Continuous Integration(GitHub Actions)
  .github/workflows/php.yml
Labels: Initial Config, QA passed, Test, enhancement

#17 Add Code Analyze in quality_check job in Continuous Integration(GitHub Actions)
  .github/workflows/php.yml
  application/Models/Calculator.php
  application/Models/FizzBuzz.php
  composer.json
  tests/CalculatorTest.php
Labels: Initial Config, QA passed, enhancement

#15 Adicion de tests para la clase Calculator
  application/Traits/ValidateCalculatorNumberTrait.php
  tests/CalculatorTest.php
Labels: QA passed, Test, enhancement

#18 Declaration/Implentation FizzBuzzTest class
  tests/FizzBuzzTest.php
Labels: QA passed, Test, enhancement
